<div class="container">
    <o-form #form service="users" entity="reservation" keys="id_reservation" editable-detail="true" show-header="no"
        show-header-navigation="no" layout-direction="column" (onDataLoaded)="ngOnInit()">
        <p>{{name_host}} {{surname_host}}</p>
        <p>Fecha reserva:{{reservation_date | date: 'dd/MM/yyyy'}}</p>
        <p>{{message}}</p>
        <p *ngIf="!(id_status == 3)">{{message_answer}}</p>        
        <p *ngIf="id_status == 1"> Tu reserva ha sido aceptada y este es el contacto de tu anfitriona!
            {{phonenumber_host}} {{email_host}}</p>
        <p *ngIf="id_status == 2"> {{name_host}} no ha podido aceptar tu reserva. Pero hay muchas más hosts y destinos en la web! </p>
        <p *ngIf="id_status == 3"> {{name_host}} aún no ha contestado a tu petición. </p>

    </o-form>
</div>