o-grid {
    row-gap: 10px;
  
}

.community-title {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  background-color: #341777;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  letter-spacing: 1px;
  color: rgb(210, 190, 250);
}

/* Estilos para el filtro */
.filter-style {
  margin-top: 20px;
  background-color: #f4f4f4; 
  border: 1px solid #ccc; 
  border-radius: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

.buttons-container {
  display: flex;
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: center;
}

.input-search {
  margin-right: 10px; 
}

.input-clear {
  background-color: transparent;
  border: none;
  cursor: pointer; 
}

.townCard:hover {
    border: 5px solid transparent;
    display: grid;
    place-items: center;
    
}

.town-image::after { /* Velo sobre foto */
    content: ""; /* Para que se muestre se muestre */
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.10); /* Opacidad blanco */
    /* background-color: rgba(50, 50, 50, 0.10); /* Opacidad negro todo el cuadro */
    pointer-events: none;
}

.town-image {
    width: 100%; 
    max-height: 220px; 
    object-fit: cover;
  }
  
.town-name {
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
  }
  
.province-name {
    font-size: 0.8em;
    text-align: center;
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    margin-bottom: 2px;
  }

  .host-amount {
    display: flex; 
    align-items: center; 
    justify-content: center; 
  }
