.container {
  position: relative; /* Permite posicionar elementos hijos relativos a este contenedor */
  width: 100%; /* Ancho del 100% para ocupar todo el ancho de la pantalla */
  height: 100%; /* Altura del 100% de la ventana gráfica (viewport height) */
  overflow: hidden; /* Oculta cualquier contenido que desborde del contenedor */
}
.background {
  width: 100%; /* Ancho del 100% para cubrir todo el contenedor */
  height: 100%; /* Altura del 100% para cubrir todo el contenedor */
  object-fit: cover; /* Escala la imagen para llenar completamente el contenedor */
  position: absolute; /* Coloca la imagen en posición absoluta dentro del contenedor */
  top: 0; /* Coloca la imagen en la parte superior del contenedor */
  left: 0; /* Coloca la imagen en la parte izquierda del contenedor */
  z-index: -1; /* Coloca la imagen detrás de otros elementos */
}

.logo {
  position: absolute; /* Coloca el logotipo en posición absoluta dentro del contenedor */
  top: 15%; /* Ajusta la posición vertical para que esté en el tercio superior */
  left: 50%; /* Centra horizontalmente el logotipo */
  transform: translate(-50%, -50%); /* Centra el logotipo horizontalmente y verticalmente */
  max-width: 40%; /* Limita el ancho del logotipo al 80% del contenedor */
  z-index: 1; /* Coloca el logotipo delante de la imagen de fondo */
}

.steps{
    position: absolute; /* Coloca el logotipo en posición absoluta dentro del contenedor */
    top: 45%; /* Ajusta la posición vertical para que esté en el tercio superior */
    left: 50%; /* Centra horizontalmente el logotipo */
    transform: translate(-50%, -50%); /* Centra el logotipo horizontalmente y verticalmente */
    max-width: 70%; /* Limita el ancho del logotipo al 80% del contenedor */
    z-index: 1; /* Coloca el logotipo delante de la imagen de fondo */
  
}

o-grid {
  row-gap: 10px;

}

.no-link-style {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; 
}

.grid-container { 
  overflow: hidden;
}

.container-item {
  margin-top: 0;
  display: block;
  position: absolute;
  width: 90%;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: auto;
  overflow: hidden;
}

.town-image {
    width: 100%; 
    max-height: 220px; 
    object-fit: cover;
  }
  
.town-name {
    font-weight: bold;
    font-size: 1.1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px 0;
    text-align: center
  }
  
.province-name {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 6px;
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    margin-bottom: 6px;
  }

  .host-amount {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 5px;
  }