<div fxFill fxLayout="column" fxLayoutAlign="start">

  <div class="header-title">¿Dónde quieres ir?</div>

  <!-- <o-combo attr="id_community" label="COMMUNITY" service="communities" entity="community"
    keys="id_community" columns="community_name;id_community" visible-columns="community_name"
    value-column="id_community" class="input-padding" sort="ASC" searchable="true" fxFlex="30"></o-combo> -->

  <o-grid #grid columns="id_community;community_name" service="communities" entity="community"
    keys="id_community" [cols]="5" quick-filter-columns="community_name" show-page-size="false" page-size-options="4;8;16" refresh-button="false"
    pagination-controls="true" gutter-size="1px" [ngStyle]="{'height':'600px'}">

    <o-grid-item class="communityCard" *ngFor="let list of grid.dataArray">
      <o-column class="container-item">
        <a routerLink="{{ list.id_community }}">
          <o-image class="community-image" attr="community_image" data="{{ getImagePath(list.community_name) }}"
            read-only="true" show-controls="false"></o-image>
        </a>
        <div class="community-name">{{ list.community_name }}</div>
      </o-column>
    </o-grid-item>
    <o-grid-item class="communityCard">
      <o-column class="container-item">
        <a [routerLink]="['/main/towns']">
          <o-image class="community-image" attr="community_all" data="{{ getImageAllComumunity('all_communities') }}"
            read-only="true" show-controls="false"></o-image>
        </a>
        <div class="community-name">Todas las ciudades</div>
      </o-column>
    </o-grid-item>

  </o-grid>

</div>