o-grid {
    margin-top: 10px; 
    align-items: start;
}

.header-title {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 1px;
    color: rgb(210, 190, 250);
  }

.communityCard:hover {
    border: 5px solid transparent;
    display: grid;
    overflow: hidden;
    position: relative;
}

.container-item {
    width: 100%; 
}

.community-image::after { /* Velo sobre foto */
    content: ""; /* Para que se muestre se muestre */
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.10); /* Opacidad blanco */
    /* background-color: rgba(50, 50, 50, 0.10); /* Opacidad negro todo el cuadro */
    pointer-events: none;
}

.community-image {
    width: 100%; 
    height: auto;
    object-fit: cover;
  }
  
.community-name {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    text-transform: uppercase;
    color: white; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }