<o-form-container breadcrumb="no" breadcrumb-label-columns="name;surname" breadcrumb-separator=" " [form]="form">

    <mat-tab-group fxFill >

        <!-- Pestaña de para el perfil por defecto-->
        <mat-tab label="{{ 'PROFILE_TAB' | oTranslate }}">
            <o-form #form attr="profile_detail" service="users" entity="myUser" fxLayout="column" show-header="yes"
                header-actions="U" #oDetailForm keys="user_" keys-sql-types="VARCHAR" show-header-navigation="yes"
                (onUpdate)="saveActivitiesInDataBase()">

                <o-column title="PROFILE_DATA" layout-align="start stretch" fxFlex="80" icon="account_circle">
                    <o-image attr="avatar" label="AVATAR" fxFlex="80" width="350px"
                        empty-image="assets/images/no-image.png" sql-type="OTHERS"></o-image>
                    <o-text-input attr="name" label="NAME" fxFlex="80" required="yes" max-length="20"></o-text-input>
                    <o-text-input attr="id_client" oHidden></o-text-input>
                    <o-text-input attr="surname" label="SURNAME" fxFlex="80" required="yes"
                        max-length="30"></o-text-input>
                    <o-text-input label="TEST" fxFlex="80" max-length="30">Hola</o-text-input>
                    <o-textarea-input attr="short_desc" label="DESCRIPTION" fxFlex="80"
                        max-length="250"></o-textarea-input>
                </o-column>
                <o-column title="ACTIVITIES" layout-align="start stretch" fxFlex="80" icon="pool">

                    <mat-chip-list fxFlex="80">
                        <mat-chip class="activitiesChip" *ngFor="let activity of arrayActivitiesClient"
                            [disabled]="false" color="primary">
                            {{ activity }}
                        </mat-chip>
                    </mat-chip-list>

                    <o-column-collapsible title="ACTSELECT" layout-align="start stretch" fxFlex="80" expanded="no">
                        <o-grid class="activitiesGrid" #activitiesB attr="activitiesB" service="activities"
                            entity="activity" keys="id_activity" columns="activity_name;id_activity" orderable="true"
                            show-page-size="no" quick-filter="false" cols="6" sortable-columns="activity_name"
                            gutter-size="5px" detail-mode="none" (onDataLoaded)="onLoad()" pagination-controls="false"
                            controls="false" grid-item-height="60">

                            <o-grid-item *ngFor="let item of activitiesB.dataArray" show-page-size="false">

                                <div fxLayout="column" fxLayoutAlign="space-evenly center">
                                    <o-button class="activitiesButton"
                                        *ngIf="arrayActivitiesClient.includes(item.activity_name)" type="STROKED"
                                        label="{{ item.activity_name }}" layout-padding color="primary"
                                        (onClick)="removeActivityFn(item.activity_name,item.id_activity)"></o-button>
                                    <o-button class="activitiesButton"
                                        *ngIf="!arrayActivitiesClient.includes(item.activity_name)" type="STROKED"
                                        label="{{ item.activity_name }}" layout-padding color="accent"
                                        (onClick)="addActivityFn(item.activity_name,item.id_activity)"></o-button>

                                </div>

                            </o-grid-item>
                        </o-grid>
                        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlex="100">
                            <o-button type="RAISED" label="SAVEACT" layout-padding color="accent"
                                (onClick)="saveActivitiesInDataBase($event)"></o-button>
                        </div>
                    </o-column-collapsible>
                </o-column>

                <o-column title="REGISTER_DATA" layout-align="start stretch" fxFlex="80" icon="assignment">
                    <o-text-input attr="user_" label="USER" fxFlex="80" enabled="no"></o-text-input>
                    <o-row class="row-pass">
                        <o-password-input attr="password" fxFlex="80" required="yes" label="PASSWORD"
                            show-password-button="yes" [validators]="validatorsArray" (input)="onPasswordInput()">
                            <!-- Campo de entrada de contraseña -->
                            <o-validator [error-name]="'passwordNotSize'" [error-text]="'ERROR_PASS'"></o-validator>
                            <!-- Validador para el tamaño de la contraseña -->
                        </o-password-input>
                    </o-row>
                    <o-row class="row-pass">
                        <o-password-input attr="passwordConfirm" fxFlex="80" *ngIf="isPasswordModified"
                            label="{{ 'Confirm password' | oTranslate }}" show-password-button="yes"
                            [validators]="validatorsArray">
                            <!-- Campo de entrada de confirmación de contraseña -->
                            <o-validator [error-name]="'passwordNotMatched'" [error-text]="'ERROR_MATCH'"></o-validator>
                            <!-- Validador para comprobar que las contraseñas coinciden -->
                        </o-password-input>
                    </o-row>
                </o-column>

            </o-form>
        </mat-tab>

        <!-- Pestaña para las funcionalidades de anfitriona -->
        <mat-tab label="{{ 'HOST_TAB' | oTranslate }}">
            <o-form #formHost attr="host_detail" service="users" entity="myUser" fxLayout="column" show-header="yes"
                header-actions="U" keys="user_" keys-sql-types="VARCHAR" show-header-navigation="yes">
                <o-column title="HOST_DATA" layout-align="start stretch" fxFlex="80">
                    <o-textarea-input attr="description" label="DESCRIPTION" fxFlex="80" required="yes"
                        max-length="500"></o-textarea-input>
                    <o-combo attr="id_town" fxFlex="80" label="TOWN" service="towns" entity="town" keys="id_town"
                        columns="town_name;id_town" visible-columns="town_name" value-column="id_town"
                        class="input-padding" fxFlex="80" required="yes" sort="ASC" searchable="true"></o-combo>
                    <o-text-input attr="phonenumber" label="PHONENUMBER" fxFlex="80" required="yes"
                        max-length="15"></o-text-input>
                    <o-email-input attr="email" label="EMAIL" placeholder="example@example.com" fxFlex="80"
                        required="yes"></o-email-input>
                    <o-nif-input attr="nif" label="NIF" required="yes" fxFlex="80" required="yes"
                        max-length="25"></o-nif-input>
                </o-column>
                <o-column title="HOST_AVAILABLE" layout-align="start stretch" fxFlex="80">
                    <o-slide-toggle attr="host" label="ACTIVEHOST" (onChange)="toggleHost($event)"
                        fxFlex="80"></o-slide-toggle>
                </o-column>

            </o-form>
        </mat-tab>

        <!-- Pestaña para gestionar reservas -->
        <mat-tab label="{{ 'RESERVATION_REDB_TAB' | oTranslate }}">
            <o-grid #formReservationReceived attr="reservationReceived" service="users" entity="reservationReceived"               
                columns="name_traveler;surname_traveler;name_host;surname_host;message;status_name;reservation_date" query-rows="8"
                refresh-button="no" quick-filter="true" visible-columns="name_host;message;status_name;reservation_date" [cols]="1"
                grid-item-height="50px" gutter-size="1px">
                <o-grid-item *ngFor="let list of formReservationReceived.dataArray">
                    <o-column layout-padding fxFlex="20" class="travelerName">De: {{ list.name_traveler}}
                        {{list.surname_travaler}}</o-column>
                    <o-column layout-padding fxFlex="55" class="travelerMsg">Mensaje: {{ list.message }}</o-column>
                    <o-column layout-padding fxFlex="15" class="date">Fecha: {{ list.reservation_date }}</o-column>
                    <o-column layout-padding fxFlex="15" class="status">Status: {{ list.status_name }}</o-column>
                    <o-column layout-padding fxFlex="5" class="show" (click)="verReserva()"><mat-icon class="icon"
                            svgIcon="ontimize:visibility"></mat-icon></o-column>
                    <!-- <div><button mat-raised-button color="accent" fxFlex="25" (click)="verReserva()">ver</button></div> -->

                </o-grid-item>
            </o-grid>
        </mat-tab>

        <mat-tab label="{{ 'RESERVATION_SENT_TAB' | oTranslate }}">
        <o-grid #formReservationSent attr="reservationSent" service="users" entity="reservationSent" 
            columns="name_traveler;surname_traveler;name_host;surname_host;message;status_name;reservation_date" query-rows="8"
            refresh-button="no" quick-filter="true" visible-columns="name_host;message;status_name;reservation_date" [cols]="1"
            grid-item-height="50px" gutter-size="1px">
            <o-grid-item *ngFor="let list of formReservationSent.dataArray">
                <o-column layout-padding fxFlex="20" class="travelerName">Para: {{ list.name_host }}
                    {{list.surname_host}}</o-column>
                <o-column layout-padding fxFlex="55" class="travelerMsg">Mensaje: {{ list.message }}</o-column>
                <o-column layout-padding fxFlex="15" class="date">Fecha: {{ list.reservation_date }}</o-column>
                <o-column layout-padding fxFlex="5" class="show" (click)="verReserva()"><mat-icon class="icon"
                        svgIcon="ontimize:visibility"></mat-icon></o-column>

                <!-- <div><button mat-raised-button color="accent" fxFlex="25" (click)="verReserva()">ver</button></div> -->

            </o-grid-item>
        </o-grid>
    </mat-tab>





        <!--
            <div fxFill fxLayout="column" fxLayoutAlign="start" class="container">
  <o-grid #formReservation attr="reservation" service="users" entity="reservationSent"
      keys="id_reservation"
      columns="name_traveler;surname_traveler;name_host;surname_host;message;status_name;" query-rows="8"
      orderable="true" quick-filter="true"
      visible-columns="name_host;message;status_name" controls="true" gutter-size="0" Elimina el espacio entre las filas 
      detail-mode="none" [cols]=1 grid-item-height="auto"> Ajusta la altura automáticamente 
      <o-grid-item *ngFor="let list of formReservation.dataArray" class="o-grid__row">
        <o-column layout-padding class="o-grid__item travelerName">De: {{ list.name_traveler }} {{list.surname_traveler}}</o-column>
        <o-column layout-padding class="o-grid__item travelerMsg">Mensaje: {{ list.message }}</o-column>
      </o-grid-item>
    </o-grid>
  </div>
  
        
























        <!-- Pestaña para habilitar servicios de las anfitrionas -->
        <!-- <mat-tab label="HOUSES">
            <o-table #form attr="houses" service="houses" entity="house" parent-keys="user_id" keys="house_id"
                detail-form-route="houses" edit-form-route="houses" columns="house_id;address;city;state;zip"
                visible-columns="address;city;state;zip" title="Casas" sort-columns="address" query-rows="10"
                quick-filter="yes" pageable="yes">
            </o-table>
        </mat-tab> -->

    </mat-tab-group>

</o-form-container>