<!-- <div  class="dialog">
    <o-grid #reservation columns="message">
        <o-grid-item>
            <o-column>
                <o-row>
                    <o-textarea-input #message attr="message" label="{{ 'MESSAGE' | oTranslate }}" fxFlex="80" max-length="250"></o-textarea-input>
                </o-row>
                <o-row>
                    <o-button class="send" type="RAISED" label="SEND" layout-padding color="accent" (onClick)="sendReservation()"></o-button>
                </o-row>            
            </o-column>
        </o-grid-item>
        
    </o-grid>
<p>{{data.id_client_host}}</p>
</div> -->


<!-- <o-grid #grid columns="user_;id_client;name;surname;short_desc;avatar;activities"
        quick-filter-columns="name;surname;activities" service="users" entity="host" keys="id_client"
        parent-keys="id_town" [cols]="3" show-page-size="false" page-size-options="4;8;16" grid-item-height="3:4"
        refresh-button="false" pagination-controls="false" gutter-size="20px" [ngStyle]="{'height':'600px'}"
        (onClick)="goToHostDetail($event)"> -->

        <div  class="dialog">
            <o-form #form  show-header="no" show-header-navigation="no" layout-direction="column" > 
            <o-textarea-input #message attr="message" label="{{ 'MESSAGE' | oTranslate }}" fxFlex="80" max-length="250"></o-textarea-input>
            <o-button class="send" type="RAISED" label="SEND" layout-padding color="accent" (onClick)="sendReservation()"></o-button>
            <o-text-input #id_client_host>{{data.id_client_host}}</o-text-input>
        </o-form>       
        </div>


        <!-- <div  class="dialog">
            <o-textarea-input #message attr="message" label="{{ 'MESSAGE' | oTranslate }}" fxFlex="80" max-length="250"></o-textarea-input>
            <o-button class="send" type="RAISED" label="SEND" layout-padding color="accent" (onClick)="sendReservation()"></o-button>

        </div> -->