

        <div  class="dialog">
            <o-form #form  show-header="no" show-header-navigation="no" layout-direction="column" > 
            <o-date-input #date attr="date" label="Date" read-only="no" required="yes" ></o-date-input>
            <o-textarea-input #message attr="message" label="{{ 'MESSAGE' | oTranslate }}" fxFlex="80" max-length="250"></o-textarea-input>
            <o-button class="send" type="RAISED" label="SEND" layout-padding color="accent" (onClick)="sendReservation()"></o-button>
           
        </o-form>       
        </div>


     