.town-title {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    background-color: #341777;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    letter-spacing: 1px;
    color: rgb(210, 190, 250);
}

o-grid {
    row-gap: 10px;
  }

.grid-container {
    overflow: hidden;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd; 
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto elevado */
    overflow: hidden;
    transition: box-shadow 0.3s;
    width: 100%; /* Ancho fijo */
    height: 370px; /* Altura fija */
}

.card-container:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.image-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 15px;
}

.rounded-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 5px;
}

.name-surname {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.short_desc {
    text-align: center;
    padding: 0 10px;
    font-size: 12px;
    color: #555;
    height: 50px; /* Altura fija para la descripción */
    font-style: italic;
}

.activities-chip-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Agrega flex-wrap para que los chips se envuelvan en múltiples líneas */
    margin-top: 10px;
}

.activitiesChip {
    font-size: 0.6em;
    height: auto;
    line-height: normal;
    padding: 5px 8px;
    pointer-events: none;
    background-color: rgb(226, 212, 252);
    margin: 1px; 
}

.activitiesChip:hover {
    background-color: inherit; 
}

.buttons-container {
    display: flex;      
    justify-content: center; 
    flex-wrap: nowrap;
    width: 100%; 
}