<o-form fxFill service="towns" entity="town" keys="id_town" show-header="no">
    <o-text-input attr="id_town" sql-type="INTEGER" enabled="no" oHidden></o-text-input>
    <o-text-input #townnamefield attr="town_name" enabled="no" (onValueChange)="reloadValues($event)" oHidden></o-text-input>

    <h1>{{ custom_name }}</h1> 


    <o-grid #grid  columns="name;surname;short_desc;avatar"  service="users" entity="host" keys="id" show-page-size="no" page-size-options="24;32;64" parent-keys="id_town" refresh-button = "false">
        <o-grid-item class="hostCard" *ngFor="let list of grid.dataArray" >
            <o-column layout-padding class="container-item">
                <o-image class = "image1" attr="image1" data="{{ list.avatar }}" read-only = "true" show-controls = "false"></o-image>               
            
                <div class="name-surname">
                    <h2>{{ list.name + ' ' + list.surname }}</h2>
                </div>
               
                <div class="short_desc">
                    <span>{{ list.short_desc }}</span>
                </div>
            </o-column>
        </o-grid-item>
    </o-grid>
</o-form>








<!--.-->
<!-- 
    <o-list #list attr="customerlist" title="CUSTOMERS" service="users" entity="user" keys="user_"
        columns="id_town;user_;description;avatar" parent-keys="id_town">
        <o-list-item *ngFor="let row of list.dataArray">
            <o-list-item-card #item image="{{ row.avatar }}" title="{{ row.user_ }}" subtitle="{{ row.id_town }}">
                <div mat-card-avatar>
                    <o-image attr="image1" data="{{ row.avatar }}"></o-image>
                </div>
            </o-list-item-card>
        </o-list-item>
    </o-list> -->